.buttonContainerOpen {
  width: calc(100vw - 290px);
}

.buttonContainerClosed {
  width: calc(100vw - 50px);
}
.content__emptyBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.content__emptyText {
  width: 300px;
}
